
<!DOCTYPE html>
<html>
<head>
<title>Note-Taking App</title>
</head>
<body>
<h1>Hello, {{ username }}!</h1>
<a href="/logout">Logout</a>
<br>
<form action="/create-note" method="post">
<label for="title">Title:</label>
<input type="text" name="title" id="title">
<br>
<label for="body">Body:</label>
<textarea name="body" id="body"></textarea>
<br>
<input type="submit" value="Create Note">
</form>
<br>
<form action="/search-notes" method="get">
<label for="query">Search Notes:</label>
<input type="text" name="query" id="query">
</form>
<br>
{% for note in notes %}
<div>
<h2>{{ note.title }}</h2>
<p>{{ note.body }}</p>
<a href="/edit-note/{{ note.id }}">Edit</a>
<a href="/delete-note/{{ note.id }}">Delete</a>
</div>
{% endfor %}
</body>
</html>


