
<!DOCTYPE html>
<html>
<head>
<title>Note-Taking App</title>
</head>
<body>
<h1>Welcome to the Note-Taking App!</h1>
<p>Please log in to access your notes.</p>
<form action="/login" method="post">
<label for="username">Username:</label>
<input type="text" name="username" id="username">
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="password">
<br>
<input type="submit" value="Login">
</form>
<br>
<p>Not yet registered? <a href="/register">Create an account</a></p>
</body>
</html>


